.bg-regular {
  background-color: $bg-regular;
}

.bg-regular-imp {
  background-color: $bg-regular !important;
}

.bg-second {
  background-color: $bg-second;
}

.bg-primary {
  background-color: $bg-primary;
}

.bg-main {
  background-color: $bg-main;
}

.bg-danger {
  background-color: $danger;
}

.bg-transparent {
  background-color: transparent;
}
