.br-color-primary {
  border-color: $border-primary;
}

.br-color-primary-i {
  border-color: $border-primary !important;
}


.br-color-second {
  border-color: $border-second;
}

.br-color-second-i {
  border-color: $border-second !important;
}

.br-color-blue {
  border-color: $border-blue;
}

.br-color-blue-i {
  border-color: $border-blue !important;
}

.br-color-danger {
  border-color: $danger;
}

.br-color-danger-i {
  border-color: $danger !important;
}
