$danger: #fe3535;

$text-primary: #fff;
$text-second: #bbb;
$text-addit: #fdfdfdfd;
$text-addit-2: #6a757b;
$text-active: #3596fe;
$text-gray: #3f4447;

$bg-primary: #3596fe;
$bg-main: #212123;
$bg-second: #1d1d1e;
$bg-regular: #363638;
$bg-addit: #59595e;

$border-primary: #363638;
$border-second: #2b2b2e;
$border-addit: #59595e;
$border-blue: #3596fe;

$shadow-primary: #3596fe7a;
$shadow-second: #0000003d;
$shadow-addit: #59595e3f;
$shadow-modal: #23253314;
$shadow-dark: #000000cc;
