@import '_dark.scss';

.txt-color-primary {
  color: $text-primary;
}

.txt-color-second {
  color: $text-second;
}

.txt-color-addit-2 {
  color: $text-addit-2;
}

.txt-color-gray {
  color: $text-gray;
}

.txt-color-active {
  color: $text-active;
}
