@mixin font-styles($font-size, $font-style, $font-weight, $line-height) {
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin text-bold-1() {
  @include font-styles(16px, normal, 600, 20px);
}

@mixin header-1() {
  @include font-styles(36px, normal, 700, normal);
}

@mixin header-2() {
  @include font-styles(32px, normal, 700, normal);
}

@mixin header-1-extra() {
  @include font-styles(36px, normal, 700, normal);
}

@mixin header-2() {
  @include font-styles(24px, normal, 700, normal);
}

@mixin header-3() {
  @include font-styles(20px, normal, 600, normal);
}
