@import "_mixins.scss";
@import "../colors";

.text-regular {
  @include text-bold-1();
}

.main-heading {
  @include header-1();
}

.main-heading-2 {
  @include header-1-extra();
}

.heading-3 {
  @include header-2();
}

.second-heading {
  @include header-2();
}

.heading-3 {
  @include header-3();
}

.text-decor-none {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-start-imp {
  text-align: start !important;
}

.text-end {
  text-align: end;
}
