@import "_mixins.scss";

.example-regular {
  @include example-txt-mixin();
}

.text-decor-none {
  text-decoration: none;
}

.text-center {
  text-align: center;

  &-i {
    text-align: center !important;
  }
}

.text-start {
  text-align: start;

  &-i {
    text-align: start !important;
  }
}

.text-end {
  text-align: end;

  &-i {
    text-align: end !important;
  }
}
