@for $count from 0 through 101 {
  .border-radius-#{$count} {
    border-radius: 1px * $count;
  }
}

.border-2 {
  border: 2px solid;
}

.border-4 {
  border: 4px solid;
}

.br-bottom {
  border-bottom: 1px solid;
}

.border-cricle {
  border-radius: 50%;
}
