.grid {
  display: grid;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-auto {
  grid-template-columns: repeat(auto-fit, 330px);
}

.rows-auto {
  grid-template-rows: auto;
}
