.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// Experiment
.pos-#{$type} {
  position: $type;
}

.z-index {
  z-index: 1;
}

@for $count from 0 through 1000 {
  .t-#{$count} {
    top: 1px * $count;
  }

  .b-#{$count} {
    bottom: 1px * $count;
  }

  .l-#{$count} {
    left: 1px * $count;
  }

  .r-#{$count} {
    right: 1px * $count;
  }
}
